@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Roboto+Condensed&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Roboto Condensed", "Arial", sans-serif;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
}

.page {
  max-width: 360px;
  width: 100%;
  height: 530px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #fff;
}

.form1 {
  display: block;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
  left: 15px;
}

.form2 {
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  position: relative;
  left: 15px;
}

.login_and_signUp {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
  background-color: #777;
  color: #fff;
  width: 360px;
  position: relative;
  top: -25px;
  left: -30px;
  border-radius: 5px 5px 0 0;
  padding: 10px 0px;
}

.inp_email {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
  width: 100%;
  position: relative;
  top: 3px;
}

.login_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginText {
  margin-bottom: 15px;
  font-size: 23px;
  cursor: pointer;
  position: relative;
  top: 7px;
}

.signUp_div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.SignUpText {
  position: relative;
  top: 7px;
  margin-bottom: 15px;
  font-size: 23px;
  cursor: pointer;
}

.username_text {
  position: relative;
  top: -2px;
}

.inp {
  width: 300px;
  padding: 11px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(166, 167, 159);
  margin-bottom: 30px;
}
.inp2 {
  width: 300px;
  padding: 11px;
  border-radius: 5px;
  outline: none;
  border: 1px solid rgb(166, 167, 159);
  margin-bottom: 5px;
}
.inp_s {
  position: relative;
  top: -5px;
}

#inp {
  margin-bottom: 15px;
}

.chekbox {
  cursor: pointer;
}

.inp_password {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #fcc61e;
}

.btn {
  width: 300px;
  border-radius: 5px;
  padding: 11px;
  border: none;
  background-color: #fcc61e;
  cursor: pointer;
  margin-bottom: 40px;
}
.btn2 {
  width: 300px;
  border-radius: 5px;
  padding: 11px;
  border: none;
  background-color: #fcc61e;
  cursor: pointer;
  position: relative;
  top: -15px;
}

.chekText {
  position: relative;
  top: -2px;
}
/* ---------chekbox---------- */
/* Variation of work by @mrhyddenn for Radios */
.chek_box {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 30px;
  margin-top: 8px;
}

.check {
  cursor: pointer;
  position: relative;
  margin: auto;
  width: 18px;
  height: 18px;
  -webkit-tap-highlight-color: transparent;
  transform: translate3d(0, 0, 0);
}

.check:before {
  content: "";
  position: absolute;
  top: -15px;
  left: -15px;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.check svg {
  position: relative;
  z-index: 1;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #c8ccd4;
  stroke-width: 1.5;
  transform: translate3d(0, 0, 0);
  transition: all 0.2s ease;
}

.check svg path {
  stroke-dasharray: 60;
  stroke-dashoffset: 0;
}

.check svg polyline {
  stroke-dasharray: 22;
  stroke-dashoffset: 66;
}

.check:hover:before {
  opacity: 1;
}

.check:hover svg {
  stroke: var(--accent-color, #fcc61e);
}

#cbx2:checked + .check svg {
  stroke: var(--accent-color, #fcc61e);
}

#cbx2:checked + .check svg path {
  stroke-dashoffset: 60;
  transition: all 0.3s linear;
}

#cbx2:checked + .check svg polyline {
  stroke-dashoffset: 42;
  transition: all 0.2s linear;
  transition-delay: 0.15s;
}

.fieldset {
  width: 300px;
  margin: 0 auto;
  border-bottom: none;
  border-left: none;
  border-right: none;
}

.or {
  border: 1px solid #6c6c6c;
  text-align: center;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-bottom: 45px;
}

.google_div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.google_div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -35px;
}

.google {
  width: 34px;
  height: 34px;
  cursor: pointer;
  margin-bottom: 20px;
}

.pag_footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.pag_footer > a {
  color: #6c6c6c;
}

@media (max-width: 380px) {
  .page {
    max-width: 340px;
    width: 100%;
  }
  .login_and_signUp {
    width: 340px;
  }
  .inp22 {
    position: relative;
    left: -10px;
  }
  .inp_s {
    position: relative;
    left: -10px;
  }
  .btn {
    position: relative;
    left: -10px;
  }
  .btn2 {
    position: relative;
    left: -10px;
  }
  .form1_user {
    position: relative;
    left: -10px;
  }
  .form1_password {
    position: relative;
    left: -10px;
  }
}
